@model web.GrantPrimeV_1.Models.tbl_userprofile
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Ekiti_Layout.cshtml";
}
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">

            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">

                <div class="panel-body" id="FormDiv">

                    <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                    </div>
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {

                        if (ViewBag.Message != null)
                        {

                            <div class="alert alert-success">
                                <strong>@ViewBag.Message</strong>
                            </div>
                            <div class="action">

                                <a href="@Url.Action("Index","User")" class="btn btn-primary btn-lg">Return</a>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form">


                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="userId"> Username:</label>
                                            @*@Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                            @Html.EditorFor(model => model.Userid, new { htmlAttributes = new { @class = "form-control",@readonly="readonly" } })
                                            @Html.ValidationMessageFor(model => model.Userid, "", new { @class = "text-danger" })
                                
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="userId"> Email Address:</label>
                                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                       
                                        </div>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="userId"> Full Name:</label>
                                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="userId">Phone Number:</label>
                                            @Html.EditorFor(model => model.phoneno, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.phoneno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                           

                                <div class="modal-footer">
                                    <span id="spnMessage" class="text-danger">@TempData["Message"]</span>
                                    <br />
                                    <div class="action">
                                        <button type="submit" id="addbutton" class="btn btn-primary">
                                            Submit
                                        </button>
                                        <a href="@Url.Action("Index","User")" class="btn btn-primary btn-lg">Return</a>
                                    </div>


                                </div>
                            </div>

                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong>@ViewBag.Message
                                </div>
                            }
                        }



                    }


                </div>

            </div>



        </div>
    </div>
</div>

<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>

@section scripts{
    <link href="~/Content/Tabs.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>

        $(function () {
            $('#role_name').change(function () {
                var roleName = $(this).val();
                if (roleName == 'Enumerator') {
                    $('#role_level').val(1);
                } else if (roleName == 'DL 1 team lead') {
                    $('#role_level').val(2);
                } else if (roleName == 'DL 2 team lead') {
                    $('#role_level').val(3);
                } else if (roleName == 'DL 3 team lead') {
                    $('#role_level').val(4);
                } else if (roleName == 'Supervisor') {
                    $('#role_level').val(5);
                } else if (roleName == 'Technical Committee') {
                    $('#role_level').val(6);
                } else if (roleName == 'Bosak MFB') {
                    $('#role_level').val(7);
                } else if (roleName == 'Admin') {
                    $('#role_level').val(8);
                } else if (roleName == 'Report') {
                    $('#role_level').val(9);
                }
            });

        });
    </script>
}




