
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Ekiti_Layout.cshtml";
}

<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>
    </div>

</section>
<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">

            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">

                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">
                <div class="panel-body" id="FormDiv">

                    @*@if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success" id="SuccDiv">
                            <strong>@ViewBag.Message</strong>
                            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>

                            </div>
                        </div>

                    }*@
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {

                        if (ViewBag.Message != null)
                        {

                            <div class="alert alert-success">
                                <strong>@ViewBag.Message</strong>
                            </div>
                            <div class="action">

                                <a href="@Url.Action("Registration", "User")" class="btn btn-primary btn-lg">Return</a>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm())
                        {
                            <div class="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>
                                                A link will be sent to your email to reset your password
                                            </label>
                                            @Html.TextBox("EmailID", "", new { @class = "form-control", @required = "required", @placeholder = "Enter Your Email Address" })

                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">

                                    <div class="action">
                                        <input type="submit" value="send" class="btn btn-success" />

                                        <a href="@Url.Action("Login", "User")" class="btn btn-primary btn-lg">Return to Login</a>
                                    </div>


                                </div>
                            </div>
                          
                        }
                    }
                </div>

            </div>



        </div>
    </div>
</div>


