@model web.GrantPrimeV_1.Models.UserData.UserProfile.ResetPasswordmodel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Ekiti_Layout.cshtml";
}




<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>
    </div>

</section>
<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">
            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">
                <p id="tile1">&nbsp;&nbsp;Reset Your Password</p>
                <div class="panel-body" id="FormDiv">

                    <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                    </div>



                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-success" id="SuccDiv">
                            <strong>@ViewBag.Message</strong>
                            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>

                            </div>
                        </div>

                    }


                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @*<div class="form-horizontal">*@
                        @*<h4>ResetPasswordModel</h4>
                            <hr />
                            <div class="text-danger">
                                @ViewBag.Message

                            </div>*@
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="accountNoGL">New Password</label>
                                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @name = "password", @id = "password", @onKeyUp = "checkPasswordStrength();" } })
                                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    <div id="password-strength-status"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="accountNoSt">Confirm Password</label>
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.HiddenFor(a => a.ResetCode)
                        </div>


                        <div class="modal-footer">
                            <span id="spnMessage" class="text-danger">@TempData["Message"]</span>
                            <br />
                            <div class="action">
                                <button type="submit" id="addbutton" class="btn btn-primary">
                                    Submit
                                </button>

                            </div>

                            <a href="@Url.Action("Login")" id="updatebutton" class="btn btn-primary">
                                Back to Login
                            </a>
                        </div>

                    }


                </div>



            </div>

        </div>
    </div>
</div>


@section Scripts{
    @*<script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@


}

@*<script src="~/Content/accounting/js/jquery-3.2.1.min.js"></script>*@
<script>

    function checkPasswordStrength() {
        var number = /([0-9])/;
        var alphabets = /([a-zA-Z])/;
        var special_characters = /([~,!,#,$,%,^,&,*,-,_,+,=,?,>,<])/;
        if ($('#password').val().length < 6) {
            $('#password-strength-status').removeClass();
            $('#password-strength-status').addClass('weak-password');
            $('#password-strength-status').html("Weak (should be atleast 6 characters.)");
        } else {
            if ($('#password').val().match(number) && $('#password').val().match(alphabets) && $('#password').val().match(special_characters)) {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('strong-password');
                $('#password-strength-status').html("Strong");
            } else {
                $('#password-strength-status').removeClass();
                $('#password-strength-status').addClass('medium-password');
                $('#password-strength-status').html("Medium (should include alphabets, numbers and special characters.)");
            }
        }
    }
</script>

<style>
    #password {
        padding: 7px;
        border: #F0F0F0 1px solid;
        border-radius: 4px;
    }

    #password-strength-status {
        padding: 5px 10px;
        color: #FFFFFF;
        border-radius: 4px;
        margin-top: 5px;
    }

    .medium-password {
        background-color: #b7d60a;
        border: #BBB418 1px solid;
    }

    .weak-password {
        background-color: #ce1d14;
        border: #AA4502 1px solid;
    }

    .strong-password {
        background-color: #12CC1A;
        border: #0FA015 1px solid;
    }
</style>
